WebServices/CreateScriptModule.ps1
WebServices/Functions/v1/README.md
WebServices/Functions/v1/Tests/Test-BPSFunctions_v1.ps1
WebServices/Functions/v1/Tests/testwithdata.ps1
WebServices/Functions/v1/Tests/testdata.csv
WebServices/UpdateScriptModule.1.ps1
WebServices/Functions/v2/README.md
WebServices/Functions/v2/Tests/Test-BPSFunctions_v2.ps1
WebServices/Module/v1/EasitBpsApi.psd1
WebServices/Module/v1/EasitBpsApi.psm1
WebServices/Functions/v2/Get-BPSItems_v2.ps1
WebServices/Functions/v2/Import-BPSContactItem_v2.ps1
WebServices/Functions/v2/Import-BPSAssetItem_v2.ps1
WebServices/Functions/v2/Import-BPSOrganizationItem_v2.ps1
WebServices/Functions/v2/Import-BPSRequestItem_v2.ps1
WebServices/Functions/v2/Ping-BPSWebService_v2.ps1
