name: Release Notes

on:
  push:
    branches: 'release/**'
    paths-ignore:
    - '.github/**'
    - 'workflows/**'

jobs:
  update_release_draft:
    name: update_release_draft
    runs-on: ubuntu-20.04
    steps:
      - name: generate_release_draft
      # Drafts your next Release notes as Pull Requests are merged into "master"
        uses: release-drafter/release-drafter@v5
        with:
          # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
          config-name: release-drafter-template.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
